@import '../src/assets/css/styles.css';
@source '../src';

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

button,
a {
  -webkit-tap-highlight-color: transparent;
}
